*{
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100vh;
  color:white;
  text-align: center;
}

.banner {
  min-height: 5vh;
  text-align: center;
  background-color: black;
  color:grey;
}
.notfound {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 95vh; */
}
.overlay{
  display: flex;
  flex-direction: row;
  background-color: teal;
  min-height: 95vh;
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* border:1px solid black; */
  background-color: black;
}

.navbar ul a {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration:none
}

a.active {
  background-color: rgba(0, 0, 255, 0.233);
}

.dashboard {
  display:flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: black;
}

.dashboard h1 {
  font-size: 200px;
  color: rgba(255, 245, 238, 0.555);
}


/* //////////////////CALCULATOR//////////////////////////////////// */
.calculator {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height:400px;
  width: 300px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(191, 192, 177);
}

.active{
  color: red;
}

/* .calculatorInput {
  display: flex;
  flex-grow: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
} */

/* .calculatorValue button{
  color:red;
  background-color: black;
  font-size: 50px;
  border-radius:60px;
  width: 12rem;
  height: 4rem;
  margin: 1px;
  text-overflow: ellipsis;  
} */

.calculatorValue{
  color:white;
  background-color: black;
  font-size: 50px;
  border-radius:60px;
  width: 12rem;
  height: 4rem;
  margin: 1px;
  word-break:break-all;
  overflow: auto;
  text-overflow: ellipsis;
  /* text-wrap: pretty; */
}

.calculatorReset button{
  color:white;
  background-color: red;
  font-size: 50px;
  border-radius:60px;
  width: 12rem;
  height: 4rem;
  margin: 1px;
}


.calculatorInput button {
  background-color: gray;
  margin: 1px;
  font-size: 50px;
  border-radius:60px;
  height: 4rem;
  width: 4rem;
  
}

.calculatorOperations {
  display:flex;
  flex-direction: column;
  
}



.calculatorOperations button {
  background-color: orange;
  margin: 1px;
  font-size: 50px;
  border-radius:60px;
  height: 4rem;
  width: 4rem;
  align-items: flex-start;
} 

/* //////////////////Mileage//////////////////////////////////// */

.mileage{
  display: flex;
  background-color: rgba(191, 192, 177);
}

.mileageTrips {
min-width:250px;
min-height:500px;
margin-right:20px;
border:1px solid black;
border-radius: 10px;
padding: 3px;
background-color: rgba(43, 202, 109, 0.219);
}
.mileageDetails {
  min-width:250px;
  min-height:500px;
  margin-left:20px;
  border:1px solid black;
  border-radius: 10px;
  padding: 3px;
  background-color: rgba(43, 202, 109, 0.219);
}



/* //////////////////Contacts//////////////////////////////////// */


.contacts{
  display: flex;
  border: 1px solid black;
  min-width: 700px;
  min-height: 500px;
  border-radius: 20px;
  background-color: rgba(191, 192, 177);
  border-color: white;
  
}

.contactList{
border-right: 1px solid black;
min-height: 500px;
min-width: 200px;
background-color: rgba(0, 0, 0, 0.24);
padding: 5px;
border-radius:  20px  0  0 20px; 
}
.contactDetail{
display:flex;
flex-grow: 1;
min-height: 500px;
min-width: 200px;
background-color: rgba(0, 0, 0, 0.24);
padding: 5px;
border-radius: 0 20px 20px 0 ;
}

/* //////////////////Feelings//////////////////////////////////// */
.feelings{
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 32px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
 
}

.feelings button:hover{
  transform: scale(1.2);
  transition: all 1.2s ease-in-out .12s ;
}

.feelings h2{
  margin: 12.5px 0px 12.5px 0px;
}

.feelingsCard {
  border-radius: 2px;
  border: 1px solid #f9f9f9;
  /* padding:4px; */
  margin-top:10px;
}

.feelDesciption{
  color:black;
  font-size: 16px;
  height: 120px;
  width: 120px;
  background-color: #bbb;
  border-radius: 50%;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  
}

.feelingsCardAcceptance button{
background-color:hsla(120, 81%, 75%, 0.555);
}

.feelingsCardFear button{
background-color:hsla(59, 81%, 75%, 0.555);
}

.feelingsCardApathy button {
background-color:hsla(234, 81%, 75%, 0.555);

}

.feelingsCardPeace button {
  background-color:hsla(233, 80%, 98%, 0.849);

}
.feelingsCardCourage button {
  background-color:hsla(189, 67%, 56%, 0.849);

}
.feelingsCardLove button {
  background-color:hsla(327, 81%, 41%, 0.849);

}
.feelingsCardGrief button{
  background-color:hsla(10, 6%, 38%, 0.849);

}

.feelingsCardLust-Wanting button {
  background-color:hsla(9, 66%, 55%, 0.849);

}
.feelingsCardPride button {
  background-color:hsla(288, 66%, 55%, 0.849);

}
.feelingsCardAnger button {
  background-color:hsla(0, 66%, 55%, 0.849);

}

@keyframes bubbles{
100%{
  transform: scale(1)
}
}